div.navbar-brand:hover,div.navbar-brand a:hover{
    transition: background-color .3s ease-in-out;
    background-color: rgb(255, 127, 80);
    color: #000;
    
}
div.navbar-brand{

    transition: background-color .5s ease-in-out;
    font-size: 25px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    height: 100%;
   
}
div.navbar-brand a{
    color: #389a8b; 
    text-decoration: none;
    padding-left: 10px;
}

#nav1{

    position: fixed;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;

}
div.container-fluid{
    
    background-color:#000000;
    padding: 0;
    margin: 0;
    height: 60px;
}
 

 